[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<=2.2"
pandas = "*"
pyproj = "*"
geopandas = "*"
owslib = "*"
pydantic = "*"
torch = "*"
lightning = "*"
scikit-learn = "*"
shap = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
folium = "*"
black = "*"
jupyterlab = "*"
matplotlib = "*"
ipykernel = "*"
altair = "*"
plotly = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
